In [ ]:
,0x = int(input("Digite um número: "))
y = int(input("Digite o elemento da lista que você quer: "))
list = [1, 2, x, "kos", True]
print(list[y])

Digite um número: 2312
Digite o elemento da lista que você quer: 2
2312

In [ ]:
list = ["Kauã Oliveira Seixas", 0, 1.74, True]
print(f'O nome é: {list[0]}')
print(f"Ele tem {list[1]} filhos")
print(f"Ele tem {list[2]} de altura")
if list[3] == True:
 print("Ele usa instagram: sim")
else:
  print("Ele usa instagram: não")

In [ ]:
list = ["Vinicius", "Thiago", "Kauã"]
print(list)
x = input("Digite o que deseja adicionar a lista: ")
list.append(x)
print(list)

['Vinicius', 'Thiago', 'Kauã']
Digite o que deseja adicionar a lista: levi
['Vinicius', 'Thiago', 'Kauã', 'levi']

In [ ]:
list = ["Kauã"]
list.append("Levi")
print(list)
x = input("Deseja adicionar mais nomes a lista [S|N]: ")
while True:
  y = input("Digite o nome que deseja adicionar a lista: ")
  list.append(y)
  x = input("Deseja adicionar mais nomes a lista [S|N]: ")
  if x.upper() == "N":
    break
print(list)

['Kauã', 'Levi']
Deseja adicionar mais nomes a lista [S|N]: s
Digite o nome que deseja adicionar a lista: Vincius
Deseja adicionar mais nomes a lista [S|N]: s
Digite o nome que deseja adicionar a lista: Thiago
Deseja adicionar mais nomes a lista [S|N]: s
Digite o nome que deseja adicionar a lista: Herlon
Deseja adicionar mais nomes a lista [S|N]: s
Digite o nome que deseja adicionar a lista: Kos
Deseja adicionar mais nomes a lista [S|N]: n
['Kauã', 'Levi', 'Vincius', 'Thiago', 'Herlon', 'Kos']

In [ ]:
frutas = ["Caju", "Laranja", "Banana", "Uva"]
frutas[-1] = "Laranja"
frutas[-2] = "Caju"
for fruta in frutas:
  print(frutas)

['Caju', 'Laranja', 'Caju', 'Laranja']
['Caju', 'Laranja', 'Caju', 'Laranja']
['Caju', 'Laranja', 'Caju', 'Laranja']
['Caju', 'Laranja', 'Caju', 'Laranja']

In [ ]:
import random
ListaDeFrutas = ["Maçã", "Banana", "Uva", "Laranja", "Abacaxi"]
random.shuffle(ListaDeFrutas)
print(ListaDeFrutas)

['Abacaxi', 'Banana', 'Uva', 'Laranja', 'Maçã']

In [ ]:
import random as r
x = r.uniform(1, 100)
print(x)

78.0821866328287

In [ ]:
import random
lista = ["maçã", "banana", "laranja", "uva", "abacaxi"]
x = random.choice(lista)
print(x)

uva

In [ ]:
import random as random
lista = [10, 50, 30 , 40, 25, 60, 5]
r.shuffle(lista)
print("Lista embaralhada", lista)
sorteado = r.choice(lista)
print("elemento da lista sorteado:", sorteado)

Lista embaralhada [25, 5, 60, 40, 50, 30, 10]
elemento da lista sorteado: 5

In [ ]:
import random
lista = [5 , 10, 20, 30, 40 ,50 , 60]
x = random.randint(lista[0], lista[-1])
y = random.choice(lista)
print(x)
print(y)

38
5

In [ ]:
import random
lista = ["Adriana Prado", "Bárbara Borges", "Camila Queiroz", "Danielle Winits", "Fernanda Paes Leme", "Helena Ranaldi", "Paolla de Oliveira", "Raquel Nunes", "Viola Davis"]
random.shuffle(lista)
print(lista)
sort = random.choice(lista)
print(sort)

['Helena Ranaldi', 'Fernanda Paes Leme', 'Viola Davis', 'Adriana Prado', 'Camila Queiroz', 'Bárbara Borges', 'Paolla de Oliveira', 'Danielle Winits', 'Raquel Nunes']
Adriana Prado

In [ ]:
lista = [1, 3, 12, 8, 2 ]
lista.sort(reverse = False)
print(lista)

[1, 2, 3, 8, 12]

In [ ]:
import random
lista = ["Adriana Prado", "Bárbara Borges", "Camila Queiroz", "Danielle Winits", "Fernanda Paes Leme", "Helena Ranaldi", "Paolla de Oliveira", "Raquel Nunes", "Viola Davis"]
random.shuffle(lista)
print(lista)
lista.sort()
print(lista)
lista.sort(reverse = True)
print(lista)

['Fernanda Paes Leme', 'Camila Queiroz', 'Paolla de Oliveira', 'Bárbara Borges', 'Raquel Nunes', 'Danielle Winits', 'Helena Ranaldi', 'Adriana Prado', 'Viola Davis']
['Adriana Prado', 'Bárbara Borges', 'Camila Queiroz', 'Danielle Winits', 'Fernanda Paes Leme', 'Helena Ranaldi', 'Paolla de Oliveira', 'Raquel Nunes', 'Viola Davis']
['Viola Davis', 'Raquel Nunes', 'Paolla de Oliveira', 'Helena Ranaldi', 'Fernanda Paes Leme', 'Danielle Winits', 'Camila Queiroz', 'Bárbara Borges', 'Adriana Prado']

In [ ]:
lista = [1, 3, 12, 8, 2, 2]
elem = len(lista)
print(lista)
print(elem)

[1, 3, 12, 8, 2, 2]
6

In [ ]:
n = [1 , 2 ,3]
n.pop()
print(n)

[1, 2]

In [ ]:
frutas = []
while True:
  print("""Digite uma fruta para adicionar a lista
ou digite FIM para parar o programa""")
  x = input()
  if x == 'FIM':
    break
  else:
    frutas.append(x)
print("Lista de Frutas")
for fruta in frutas:
  print(fruta)

Digite uma fruta para adicionar a lista
ou digite FIM para parar o programa
Maçã
Digite uma fruta para adicionar a lista
ou digite FIM para parar o programa
Banana
Digite uma fruta para adicionar a lista
ou digite FIM para parar o programa
Uva
Digite uma fruta para adicionar a lista
ou digite FIM para parar o programa
FIM
Lista de Frutas
Maçã
Banana
Uva

In [ ]:
frutas = ["Maçã" , "Banana", "Laranja"]
while True:
  x = 0
  print(frutas)
  print("""Digite 1 se deseja adicionar uma fruta na lista
Digite 2 se deseja remover uma fruta da lista
Digite 3 se deseja encerrar o programa""")
  x = int(input("Qual ação deseja seguir: "))
  if x == 1:
    y = frutas.append(input("Digite a fruta que você quer adicionar: "))
  elif x == 2:
    y = frutas.remove(input("Digite exatamente qual fruta você quer remover: "))
  else:
    break
print("Lista atual")
for fruta in frutas:
  print(fruta)

['Maçã', 'Banana', 'Laranja']
Digite 1 se deseja adicionar uma fruta na lista
Digite 2 se deseja remover uma fruta da lista
Digite 3 se deseja encerrar o programa
Qual ação deseja seguir: 1
Digite a fruta que você quer adicionar: Uva
['Maçã', 'Banana', 'Laranja', 'Uva']
Digite 1 se deseja adicionar uma fruta na lista
Digite 2 se deseja remover uma fruta da lista
Digite 3 se deseja encerrar o programa
Qual ação deseja seguir: 2
Digite exatamente qual fruta você quer remover: Maçã
['Banana', 'Laranja', 'Uva']
Digite 1 se deseja adicionar uma fruta na lista
Digite 2 se deseja remover uma fruta da lista
Digite 3 se deseja encerrar o programa
Qual ação deseja seguir: 3
Lista atual
Banana
Laranja
Uva

In [ ]:
frutas = ["Maçã" , "Banana", "Uva"]
print(frutas)
x = input("Digite qual fruta deseja adicionar a lista: ")
y = int(input("Digite a posição em que a fruta deve ser colocada na lista: "))
frutas.insert(y, x)
print(frutas)

['Maçã', 'Banana', 'Uva']
Digite qual fruta deseja adicionar a lista: Laranja
Digite a posição em que a fruta deve ser colocada na lista: 1
['Maçã', 'Laranja', 'Banana', 'Uva']

In [ ]:
Lista = [1 , 2, 3, 4, 5, 6, 7, 8]
print(Lista[:5])

[1, 2, 3, 4, 5]

In [ ]:
x = ("Kauã O. Seixas")
print(x[:7])

Kauã O.

In [ ]:
compras = ["Arroz", "Feijão", "Óleo", "Macarrão", "Detergente", "Tomate", "Cebola"]
compras.clear()
print(compras)

[]

In [ ]:
lista = [1 , 3 , 5, 6 ,4 , 2, 8]
listaB = lista
lista.remove(8)
print(listaB)

[1, 3, 5, 6, 4, 2]

In [ ]:
lista = ["Adriana Prado", "Bárbara Borges", "Camila Queiroz", "Danielle Winits", "Fernanda Paes Leme", "Helena Ranaldi", "Paolla de Oliveira", "Raquel Nunes", "Viola Davis"]
B = list(lista)
if lista == B:
  lista.clear()
  print("Lista original esvaziada")
else:
  print("Cópia gerada não é igual a original")
print(B)

Lista original esvaziada
['Adriana Prado', 'Bárbara Borges', 'Camila Queiroz', 'Danielle Winits', 'Fernanda Paes Leme', 'Helena Ranaldi', 'Paolla de Oliveira', 'Raquel Nunes', 'Viola Davis']

In [ ]:
listaA = [3 , 5, 4 , 2, 8]
listaB = [1 , 6 , 4 , 2, 8]
listaC = []
listaC.extend(listaA)
listaC.append(listaB[1])
print(listaC)

[3, 5, 4, 2, 8, 6]

In [ ]:
linha = int(input("Digite as linhas da matriz: " ))
coluna = int(input("Digite as colunas da matriz: "))
matriz = []
for i in range(linha):
   linha = []
   for j in range(coluna):
    valor = input(f"Digite o valor para a posição ({i} , {j}): ")
    linha.append(valor)
   matriz.append(linha)






print("A minha resultante é: ")
for i in range(n:
  print(matriz[i])

Digite as linhas da matriz: 3
Digite as colunas da matriz: 3
Digite o valor para a posição (0 , 0): 1
Digite o valor para a posição (0 , 1): 2
Digite o valor para a posição (0 , 2): 3
Digite o valor para a posição (1 , 0): 4
Digite o valor para a posição (1 , 1): 5
Digite o valor para a posição (1 , 2): 6
Digite o valor para a posição (2 , 0): 7
Digite o valor para a posição (2 , 1): 8
Digite o valor para a posição (2 , 2): 9
A minha resultante é:

NameError: ignored

In [ ]:
for i in range(10):
  print(i)